@charset "utf-8";

@use 'sass:math';
@use 'common/mixin';
@use 'common/reset';
@use './common/fonts';
@use 'common/keyframe';
@use 'common/svg';
@use 'preloader';
@use 'section1';
@use 'section2';
@use 'section3';
@use 'section4';

.container {
  font-family: 'Lora', serif;
}

.group {
  position: relative;
  width: 100%;
  // min-width: 1400px;
  margin: 0 auto;
}
