@charset "utf-8";

$imgUrl: '../images';

@use 'sass:math';
@import 'common/_mixin';
@import 'common/_reset';
@import 'common/_keyframe';
@import 'common/_svg';

.container {
  font-family: 'Lora', serif;
}
//------------------------ PRELOADER
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .progress {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000;

    p {
      padding-top: 20px;
      color: #fff;
      font-size: 150px;
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      text-align: center;
    }

    .loading {
      position: absolute;
      left: 0;
      top: 310px;
      width: 100%;
      animation: fadein 2s;
    }

    .spinner-wrapper {
      position: absolute;
      z-index: 15;
      top: 0;
      left: 50%;
      width: 363px;
      transform: translate(-50%, 0);
    }

    .spinner-text {
      position: absolute;
      top: 27px;
      left: 50%;
      text-transform: uppercase;
      letter-spacing: 10px /4;
      transform: translate(-36%, -50%);
      animation: pulse 1.5s infinite;
    }

    .spinner {
      margin: 0;
      display: block;
      position: absolute;
      left: 88px;
      top: 0;
      border: 24px solid rebeccapurple;
      width: 25px;
      height: 25px;
      border-left-color: transparent;
      border-right-color: transparent;
      border-radius: 50px;
      animation: spin 1.5s infinite;
    }
  }
  .loader-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;

    img {
      width: 100%;
    }
  }
}

.group {
  position: relative;
  width: 100%;
  min-width: 1400px;
  margin: 0 auto;
}

//------------------------ SECTION 1
.section1 {
  z-index: 3;
  height: 100vh;
  background-color: #fff9ec;

  .line {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100vh;
    border: 5px solid #fff9ec;
    border-bottom: 0;
  }

  .inner {
    width: 100%;
    height: 100vh;
    transform-style: preserve-3d;
  }

  .main-visual {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    margin: 0 auto;

    //background: url(#{$imgUrl}/main_bg_wm.webp) no-repeat top center;
    background-size: cover;
  }
  .main-bg {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    z-index: 1;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(#{$imgUrl}/main_bg.webp) no-repeat top center;
    background-size: cover;

    div {
      opacity: 0;
      background-color: #00000078;
      //transition:1s;
    }
    &::before {
      content: '';
      position: absolute;
      left: 2%;
      top: 2%;
      width: 96%;
      height: 96%;
      border: 1px solid #fff;
      opacity: 0.3;
    }
  }
  .main-text {
    position: relative;
    z-index: 3;
    width: 1400px;
    margin: 0 auto;
    mix-blend-mode: plus-lighter;
    font-family: 'Josefin Sans', sans-serif;

    .text-inner {
      position: absolute;
      left: 0;
      top: 74px;
      font-size: 113px;
      color: #ff7800;
      line-height: 1;

      p {
        position: relative;
        line-height: 1;
        overflow: hidden;

        span {
          display: block;
          width: 100%;
          overflow: hidden;
          transform: translateY(-100%);
        }

        &:nth-child(2) span {
          font-family: 'Roboto', sans-serif;
          font-size: 174px;
        }
      }

      .dec {
        position: absolute;
        top: 642px;
        width: 798px;
        right: -439px;
        font-size: 39px;
        line-height: 1;
        text-align: right;
        font-weight: 100;
        color: #fff;
        opacity: 0;
        transform: translateY(200px);
      }
    }
    .brandsvg {
      position: absolute;
      left: -29px;
      top: 269px;
      transform: rotate(-5deg);
      width: 668px;
      z-index: 1;
      visibility: hidden;
      mix-blend-mode: color-burn;
    }
  }

  .image-box {
    position: absolute;
    left: 792px;
    top: 430px;
    width: 500px;
    height: 440px;
    background: #ff5e00;
  }
}

//------------------------ SECTION 2
.section2 {
  width: 100%;
  overflow: hidden;
  text-align: center;
  background-color: #f7d901;

  .tl-motion1 {
    position: relative;
    top: -1px;
    z-index: 2;
    padding-top: 200px;
    font-family: 'Roboto', sans-serif;
    background-color: #fff;

    .inner {
      position: relative;
      width: 1400px;
      margin: 0 auto;
      z-index: 2;
      text-align: left;
      color: #fff;
      font-size: 60px;

      h3 {
        font-weight: 500;
        line-height: 77px;

        &:nth-child(2) {
          padding-bottom: 30px;
        }
      }
      p {
        display: block;
        font-size: 30px;
        overflow: hidden;
        font-family: 'Montserrat';
        span {
          display: block;
        }
      }
    }

    .text {
      color: rgb(231 135 88 / 34%);
      background: linear-gradient(90deg, #d4fd00, #fd0c00) no-repeat;
      -webkit-background-clip: text;
      background-clip: text;
      background-size: 0%;
      transition: background-size cubic-bezier(0.1, 0.5, 0.5, 1) 0.5s;
    }

    .text-left {
      position: absolute;
      left: 0;
      z-index: 2;
      top: 700px;
      height: auto;
      font-optical-sizing: auto;
      font-weight: 500;
      font-size: 67px;

      li:nth-child(2) {
        font-size: 40px;
        font-weight: 200;
      }
    }
  }
  .back {
    width: 1520px;
    padding-top: 440px;
    text-align: center;
    mix-blend-mode: hard-light;
    span {
      display: block;
      clip-path: polygon(0 0, 48% 0, 100% 100%, 55% 100%);

      img {
        width: 1080px;
      }
    }
  }
  .back-text {
    position: absolute;
    left: 0;
    top: 900px;
    z-index: -1;

    span {
      animation: text-to 36s linear infinite;
      color: #fff;
      display: inline-block;
      font-family: Roboto, sans-serif;
      font-optical-sizing: auto;
      font-size: 165px;
      font-weight: 500;
      letter-spacing: 1px;
      white-space: nowrap;
    }
  }
  .tl-motion2 {
    position: relative;
    z-index: 2;
    height: 2070px;
    background-color: #fff;

    h3 {
      padding-top: 300px;
      font-size: 160px;
      font-family: 'Roboto', sans-serif;
      line-height: 1;
      letter-spacing: -1px;
      color: #ff3100;
    }

    .sbi-img {
      position: relative;
      top: -290px;

      li {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        text-align: center;

        &.n1 {
          top: 0;
          left: -50px;
        }
        &.n2 {
          top: -30px;
          left: 50px;
        }
        &.n3 {
          top: 30px;
          left: -60px;
        }
        &.n4 {
          top: -60px;
          left: 70px;
        }
        &.n5 {
          top: 70px;
          left: -30px;
        }

        img {
          border-radius: 30px;
        }
      }
    }
  }

  .tl-motion3 {
    position: relative;
    z-index: 3;
    height: 1500px;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      z-index: -1;
      top: 500px;
      width: 100%;
      height: 100%;
      background-color: #fff;
    }

    .inner {
      position: relative;
      width: 1400px;
      margin: 0 auto;
    }
    .text,
    .sub-text {
      position: absolute;
      left: 0;
      top: 0;
      text-align: left;
      color: #000;
    }

    .text {
      left: 500px;
      z-index: 2;
      text-align: right;

      h3 {
        font-size: 60px;
      }
      p {
        font-size: 39px;
      }
    }
    .sub-text {
      width: 620px;
      top: 150px;
      font-size: 50px;
      opacity: 0;
    }

    .bg {
      position: absolute;
      top: 0;
      right: 0;
      width: 800px;
      height: 1200px;
      background: url(#{$imgUrl}/tlm3_bg.jpg) no-repeat;

      .box {
        position: absolute;
        left: 250px;
        top: 196px;
        width: 425px;
        height: 602px;
        overflow: hidden;

        img {
          position: relative;
          left: 50%;
          top: -300px;
          transform: translate(-50%, 0);
        }
      }
    }
  }
  .back-inner {
    position: absolute;
    left: 0;
    top: 200px;
    width: 100%;
    .background {
      width: 1400px;
      margin: 0 auto;
      text-align: left;
      color: #fff;
      font-size: 60px;
      font-family: 'Roboto', sans-serif;

      h3 {
        font-weight: 500;
        line-height: 77px;

        &:nth-child(2) {
          padding-bottom: 30px;
        }
      }
      p {
        display: block;
        font-size: 30px;
        overflow: hidden;
        font-family: 'Montserrat';
        span {
          display: block;
        }
      }
    }
  }
}

//------------------------ SECTION 3
.section3 {
  position: relative;
  z-index: 2;
  top: -1px;
  height: 4300px;
  padding: 100px 0;
  overflow: hidden;
  background-color: #f5f5f5;
  color: #3b3b3b;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  letter-spacing: -2px;

  .top-text {
    span {
      display: block;
    }

    h4 {
      height: 194px;
      overflow: hidden;
      font-size: 129px;
      transform: translateY('194px');
    }
    p.pintext {
      height: 194px;
      overflow: hidden;
      font-size: 129px;
    }
  }

  .circle {
    position: relative;
    width: 100%;

    .inner {
      position: absolute;
      top: 383px;
      left: 50%;
      z-index: 2;
      width: 1px;
      height: 1px;
      border-radius: 50%;
      background-color: #d35400;
      mix-blend-mode: hard-light;
    }
  }
  .sequence-wrap {
    position: relative;
    width: 100%;
    margin: 0 auto;

    &::after {
      content: '';
      position: absolute;
      left: 50%;
      top: 0;
      width: 890px;
      height: 720px;
      opacity: 0;
      transition: 1s;
      transform: translate(-50%, -200px);
      border: 1px solid #e9dfc5;
      border-top: 0;
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;
    }

    .sequence {
      position: absolute;
      left: 50%;
      top: 0;
      width: 490px;
      height: 490px;
      overflow: hidden;
      transform: translate(-50%, 0);
      border-bottom-right-radius: 100%;
      border-bottom-left-radius: 100%;

      &::after {
        content: '';
        visibility: hidden;
      }

      canvas {
        transform: translateY(-250px);
      }
    }
    .back {
      position: absolute;
      left: 50%;
      top: 0;
      z-index: -1;
      width: 670px;
      height: 600px;
      overflow: hidden;
      transform: translate(-50%, 0);

      span {
        position: absolute;
        left: 50%;
        top: 0;
        width: 670px;
        height: 600px;
        overflow: hidden;
        transform: translate(-50%, -40%) scale(0.5);
        border-bottom-right-radius: 100%;
        border-bottom-left-radius: 100%;
        background-color: #f5f0e8;
        transition: 1s;
      }
    }
    &.animated {
      &::after {
        opacity: 1;
        transform: translate(-50%, 0);
        transition-delay: 0.6s;
      }
      .back span {
        transform: translate(-50%, 0) scale(1);
      }
    }
  }

  .gallery-list {
    position: relative;
    top: 600px;
    height: 2000px;

    ul {
      display: flex;
      flex-wrap: wrap;
      width: 700px;
      align-content: center;
      margin: 0 auto;
      padding-top: 50px;
    }

    li {
      position: relative;
      width: calc(100% / 2);
      padding-bottom: 200px;

      &:nth-child(even) {
        padding-top: 200px;
      }

      span {
        position: relative;
        display: block;
        width: 307px;
        height: 307px;
        overflow: hidden;
        border-radius: 100%;

        &::before {
          content: '';
          height: 100%;
          left: 0;
          width: 0;
          mix-blend-mode: difference;
          opacity: 0;
          position: absolute;
          top: 0;
          background: #fff;
          transition: 1s;
          z-index: 2;
        }

        &:hover {
          &::before {
            opacity: 1;
            width: 60px;
          }
        }
      }

      .text {
        letter-spacing: 0;
        h3 {
          font-size: 40px;
        }
      }
    }
    // @for $i from 1 through 4 {
    //     li:nth-child(#{$i})::after{
    //         content:'';
    //         position:absolute;
    //         left:0;
    //         top:0;
    //         z-index: -1;
    //         width:100%;
    //         height:100%;
    //         background-image: url(#{$imgUrl}/gl_#{$i}.jpg);
    //         filter: blur(5px);
    //     }
    // }
  }
}

//------------------------ SECTION 4
.section4 {
  height: 500px;
  background-color: #d35400;

  .text {
    width: 1400px;
    padding-top: 100px;
    margin: 0 auto;
    font-size: 110px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    p {
      position: relative;
      line-height: 1;
      overflow: hidden;
      span {
        display: block;
      }
    }
    em {
      display: block;
      padding-top: 20px;
      font-size: 20px;
      line-height: 1;
    }
  }
}
