@font-face {
  font-family: 'NeueMontreal-Bold';
  src: url('../../fonts/PPNeueMontreal-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMontreal-Book';
  src: url('../../fonts/PPNeueMontreal-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'NeueMontreal-Medium';
  src: url('../../fonts/PPNeueMontreal-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
